target/
.metadata
.recommenders
.idea
.settings
.fleet
.vscode

*.class
**/.class
**/.classpath
**/.project
**/doc
*.orig
*.component
*.iml
*.rej
*.log

/*/.gitignore
*/bin/
*/target/
*/.project
*/.tern-project
*/.settings/
*/data/
.factorypath
.DS_Store